body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-width: 800px;
}

.section {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 80%;
  min-width: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f7c089;
  margin: 0px
}

h2 {
  font-family: 'Prompt', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f7c089;
  margin: 0px
}

h3 {
  font-family: 'Prompt', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #f7c089;
  margin: 0px
}

.nav {
  background-color: rgba(255, 255, 255, 0.605);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  animation: navAnimation 3s ease-in;
  -webkit-animation: navAnimation 3s ease-in;
  -moz-animation: navAnimation 3s ease-in;
  -o-animation: navAnimation 3s ease-in;
}

@keyframes navAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    }
  66% {
    opacity: 0;
    filter: blur(10px);
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    }
}
@-webkit-keyframes navAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    }
  66% {
    opacity: 0;
    filter: blur(10px);
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    }
}
@-moz-keyframes navAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    }
  66% {
    opacity: 0;
    filter: blur(10px);
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    }
}
@-o-keyframes navAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    }
  66% {
    opacity: 0;
    filter: blur(10px);
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    }
}

.logo-link {
  margin-left: 3%;
  margin-top: 1%;
  cursor: pointer;
}

a.logo-link img {
  height: 4rem;
}

.nav-links-container {
  margin-right: 2%;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Prompt', sans-serif;
  font-size: 1.8rem;
  color: #f7c089;
  text-decoration: none;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.nav-link:hover {
  color: #e6aa6e;
}

.landing {
  display: flex;
  align-items: center;
  margin-top: -20rem;
}

.hi p {
  font-family: 'Prompt', sans-serif;
  font-size: 20rem;
  color: #f7c089;
  font-weight: bold;
  animation: hiAnimation 1s ease-in;
  -webkit-animation: hiAnimation 1s ease-in;
  -moz-animation: hiAnimation 1s ease-in;
  -o-animation: hiAnimation 1s ease-in;
}

@keyframes hiAnimation {
  from {
    opacity: 0;
    filter: blur(10px);
    margin-left: -2rem;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    margin-left: 0rem;
  }
}

@-webkit-keyframes hiAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-left: -2rem; }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-left: 0rem; }
}
@-moz-keyframes hiAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-left: -2rem; }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-left: 0rem; }
}
@-o-keyframes hiAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-left: -2rem; }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-left: 0rem; }
}

.intro {
  margin-left: 5%;
}

.intro p {
  width: 40rem;
  margin: 0;
}

span.intro-name {
  font-family: 'Prompt', sans-serif;
  font-size: 4rem;
  color: #bababa;
  font-weight: 400;
}

span.intro-name p {
  animation: nameAnimation 2s ease-in;
  -webkit-animation: nameAnimation 2s ease-in;
  -moz-animation: nameAnimation 2s ease-in;
  -o-animation: nameAnimation 2s ease-in;
}

@keyframes nameAnimation {
  from {
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem;
  }

  50% {
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    margin-bottom: 0rem;
  }
}

@-webkit-keyframes nameAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem; }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-bottom: 0rem; }
}
@-moz-keyframes nameAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem; }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-bottom: 0rem; }
}
@-o-keyframes nameAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem; }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-bottom: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-bottom: 0rem; }
}

span.intro-title {
  font-family: 'Prompt', sans-serif;
  font-size: 4rem;
  line-height: 70px;
  color: #d6d6d6;
  font-weight: 400;
}

span.intro-title p {
  animation: titleAnimation 2s ease-in;
  -webkit-animation: titleAnimation 2s ease-in;
  -moz-animation: titleAnimation 2s ease-in;
  -o-animation: titleAnimation 2s ease-in;
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }

  50% {
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    margin-top: 0rem;
  }
}

@-webkit-keyframes titleAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-top: 0rem; }
}
@-moz-keyframes titleAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-top: 0rem; }
}
@-o-keyframes titleAnimation {
  0%   { 
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  50% {
    opacity: 0;
    filter: blur(10px);
    margin-top: 2rem;
  }
  100% { 
    opacity: 1;
    filter: blur(0px);
    margin-top: 0rem; }
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-container {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem
}

.selfie-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.selfie {
  border-radius: 50%;
  box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
  max-height: 23rem;
  grid-area: 1 / 1 / 2 / 2; 
}

.mustache {
  border-radius: 50%;
  max-height: 23rem;
  grid-area: 1 / 1 / 2 / 2; 
}

.bio {
  margin-left: 5%;
  width: 35rem;
}

.bio p {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #848484;
  margin: 0px;
  font-weight: 350;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.inline-link {
  color: #f7c089;
  text-decoration: none;
  cursor: pointer;
}

.inline-link:hover {
color: #e6aa6e;
}

.tools {
  text-align: center;
  margin-top: 3.5rem;
}

.tools-icons {
  display: flex;
  justify-content: center;
}

.tools-icons img {
  height: 2.5rem;
  opacity: 0.75;
  margin: 2%;
  transition: opacity 230ms;
}

.tools-icons img:hover {
  opacity: 1;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.line {
  border-bottom: 1px solid #f7c089;
  margin-bottom: 1.5rem;
  width: 75%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.project-container {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

.project-info {
  margin-left: 5%;
  margin-right: 5%;
  min-width: 50%;
}

.proj-screen {
  max-height: 20rem;
  box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gh-icon {
  height: 2.5rem;
  opacity: .75;
  transition: opacity 230ms;
}

.gh-icon:hover {
  opacity: 1;
}

.project-info p {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #848484;
  margin: 0px;
  font-weight: 350;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.project-info a {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #f7c089;
  text-decoration: none;
}

.project-info h3 {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #f7c089;
  text-decoration: none;
  cursor: pointer;
}

.project-info h3:hover {
  color: #e6aa6e;
}

.project-info span {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #f7c089;
  text-decoration: none;
  cursor: pointer;
}

.project-info a:hover {
  color: #e6aa6e;
}

.project-info span:hover {
  color: #e6aa6e;
}

.show {
  cursor: pointer;
}

.show:hover {
  color: #e6aa6e;
}

.project-tech {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

span.built-with {
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #848484;
  cursor: default;
}

span.built-with:hover {
  color: #848484;
}

span.tool {
  font-size: 1rem;
  color: #848484;
  margin-right: .5rem;
  cursor: default;
}

span.tool:hover {
  color: #848484;
}

.align-right {
  text-align: right;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact span {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #848484;
  margin-top: 5rem;
  font-weight: 350;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.socials {
  margin-top: 5rem;
}

.social-icons {
  text-align: center;
  margin-top: 3.5rem;
}

.social-icons a img {
  height: 2.9rem;
  opacity: 0.75;
  margin: 2%;
  transition: opacity 230ms;
}

.social-icons a img:hover {
  opacity: 1;
}

.footer {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  color: #b1b1b1;
}

.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogs-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs p {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #848484;
  margin-top: 5rem;
  font-weight: 350;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.blog-card-a {
  text-decoration: none;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 20rem;
  min-height: 30rem;
  border: solid;
  border-color: #dadada;
  background-color: #fafafa;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: background-color, 230ms;
}

.blog-card:hover {
  background-color: #f5f5f5;
}

.blog-card h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.blog-card p {
  font-family: 'Prompt', sans-serif;
  font-size: 1.1rem;
  color: #848484;
  margin: 0px;
  font-weight: 350;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.blog-card p.blog-date {
  font-size: .9rem;
}

.blog-card img {
  max-width: 19rem;
}

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

@media (max-width: 480px) {
	.App {
    min-width: 100vw;
  }

  h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7c089;
    margin: 0px
  }
  
  h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #f7c089;
    margin: 0px
  }
  
  h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #f7c089;
    margin: 0px
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.605);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    animation: navAnimation 3s ease-in;
    -webkit-animation: navAnimation 3s ease-in;
    -moz-animation: navAnimation 3s ease-in;
    -o-animation: navAnimation 3s ease-in;
  }

  .nav-link {
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: 'Prompt', sans-serif;
    font-size: .9rem;
    color: #f7c089;
    text-decoration: none;
    cursor: pointer;
  }

  .active {
    text-decoration: underline;
  }

  .logo-link {
    margin-top: 1%;
    cursor: pointer;
  }
  
  a.logo-link img {
    height: 2.2rem;
  }

  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7rem;
  }

  .hi p {
    font-family: 'Prompt', sans-serif;
    font-size: 10rem;
    color: #f7c089;
    font-weight: bold;
    animation: hiAnimation 1s ease-in;
    -webkit-animation: hiAnimation 1s ease-in;
    -moz-animation: hiAnimation 1s ease-in;
    -o-animation: hiAnimation 1s ease-in;
  }

  .intro {
    margin-left: 0;
    text-align: center;
  }
  
  .intro p {
    width: 100vw;
    margin: 0;
    margin-top: -10rem
  }

  span.intro-name {
    font-family: 'Prompt', sans-serif;
    font-size: 2rem;
    color: #bababa;
    font-weight: 400;
  }

  span.intro-name p {
    margin-bottom: 10rem;
  }

  span.intro-title {
    font-family: 'Prompt', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    color: #d6d6d6;
    font-weight: 400;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem
  }

  .selfie {
    border-radius: 50%;
    box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
    max-height: 14rem;
    grid-area: 1 / 1 / 2 / 2; 
  }
  
  .mustache {
    border-radius: 50%;
    max-height: 14rem;
    grid-area: 1 / 1 / 2 / 2; 
  }

  .bio {
    text-align: justify;
    max-width: 90vw;
    margin-top: 1rem;
    margin-right: 1.2rem;
  }

  .bio h1 {
    display: none;
    text-align: center;
  }
  
  .bio p {
    font-family: 'Prompt', sans-serif;
    font-size: .8rem;
    color: #848484;
    margin: 0px;
    font-weight: 350;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 130%;
  }

  .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .tools-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .tools-icons img {
    height: 1.8rem;
    opacity: 0.75;
    margin: 2%;
    transition: opacity 230ms;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .projects h1 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 90vw;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-bottom: 3rem;
  }

  .project-info {
    min-width: 50%;
  }

  .proj-screen {
    display: none;
    max-height: 10rem;
    box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
  }

  .project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gh-icon {
    height: 1.5rem;
    opacity: .75;
    transition: opacity 230ms;
  }

  .project-info p {
    font-family: 'Prompt', sans-serif;
    font-size: .8rem;
    color: #848484;
    margin: 0px;
    font-weight: 350;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 130%;
  }

  .project-info a {
    font-family: 'Prompt', sans-serif;
    font-size: .8rem;
    color: #f7c089;
    text-decoration: none;
  }

  .project-info h3 {
    font-size: .8rem;
  }

  .project-info span {
    font-family: 'Prompt', sans-serif;
    font-size: .8rem;
    color: #f7c089;
    text-decoration: none;
    cursor: pointer;
  }

  .project-tech {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  span.tool {
    font-size: .8rem;
    color: #848484;
    cursor: default;
  }

  span.tool:hover {
    color: #848484;
  }

  span.built-with {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: .8rem;
    color: #848484;
    cursor: default;
  }
  
  span.built-with:hover {
    color: #848484;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4rem;
  }

  .contact span {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    color: #848484;
    margin-top: 5rem;
    font-weight: 350;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 130%;
  }

  .social-icons a img {
    height: 1.9rem;
    opacity: 0.75;
    margin: 2%;
    transition: opacity 230ms;
  }

  .footer {
    font-size: .7rem;
  }

  .blogs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .blogs p {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    color: #848484;
    margin-top: 2rem;
    font-weight: 350;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 130%;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 20rem;
    min-height: auto;
    border: solid;
    border-color: #dadada;
    background-color: #fafafa;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: background-color, 230ms;
  }

  .blog-card h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .blog-card p {
    font-family: 'Prompt', sans-serif;
    font-size: .8rem;
    color: #848484;
    font-weight: 350;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 130%;
  }

  .blog-card p.blog-date {
    font-size: .7rem;
  }

  .blog-card img {
    margin-top: 1rem;
    max-width: 19rem;
  }

  .modal {
    box-shadow: none;
  }

  .modal iframe {
    height: 100%;
    width: 100%;
    margin-left: -2rem;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  }
}